BACAY_WS_URL=ws://43.207.3.134:21044/websocket
BACAY_NICKNAME=play_753176
BACAY_SESSION_KEY=eyJuaWNrbmFtZSI6InBsYXlfNzUzMTc2IiwiYXZhdGFyIjoiMCIsInZpblRvdGFsIjowLCJ4dVRvdGFsIjowLCJ2aXBwb2ludCI6MCwidmlwcG9pbnRTYXZlIjowLCJjcmVhdGVUaW1lIjoiMDItMDUtMjAyNiIsImlwQWRkcmVzcyI6IjIwNi4xMTkuMTI1LjEyIiwiY2VydGlmaWNhdGUiOmZhbHNlLCJsdWNreVJvdGF0ZSI6MCwiZGFpTHkiOjAsIm1vYmlsZVNlY3VyZSI6MCwiYXBwU2VjdXJlIjowLCJiaXJ0aGRheSI6IiIsImxldmVsIjowfQ==
BACAY_RECONNECT_ENABLED=true
BACAY_RECONNECT_MAX_ATTEMPTS=5
BACAY_RECONNECT_BASE_DELAY_MS=1000
BACAY_RECONNECT_MAX_DELAY_MS=10000
BACAY_TIMEOUT_MS=20000
BACAY_MONEY_TYPE=0
BACAY_MAX_USER_PER_ROOM=8
BACAY_MONEY_BET=1000
BACAY_RULE=0
